.container {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
}

.currency-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.input-box, .box, .button-box, .output-box {
	margin-bottom: 20px;
    text-align: center;
    width: 50%;
}

label{
	display: block;
	margin-bottom: 5px;
}

input, select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}